@page "/"


<PageTitle>Home</PageTitle>

<h1 class="main-heading" style="color: black; font-family: Rockwell, Times, serif, sans-serif; font-weight: bold;">Welcome to Vinny's <em>Books & Tea'</em></h1>
<p class="subheading" style="color: #7d4444; font-family: Gabriola, Times, serif, sans-serif; font-weight: bold;">Take a moment, read a book and drink a cup of tea</p>
<img src="https://i.ytimg.com/vi/VNNvC6PwBN4/maxresdefault.jpg" />
background-color




<style>
	.main-content {
		background-size: cover;
		color: #fff;
		padding: 30px;
		text-align: center;
		overflow-x: hidden;
	}

	.main-heading {
		font-size: 2.5rem;
		margin-bottom: 20px;
		font-weight: bold;
	}

	.subheading {
		font-size: 1.2rem;
		margin-bottom: 40px;
	}

	.store-image {
		width: 80vw;
		max-height: 100vh;
		margin-bottom: 20px;
	}
</style>




